@font-face {
  font-family: 'College';
  src: url("fonts/college.eot");
  src: url("fonts/college.eot?#iefix") format("embedded-opentype"), url("fonts/college.woff") format("woff"), url("fonts/college.ttf") format("truetype"), url("fonts/college.svg#webfont") format("svg"); }

@font-face {
  font-family: 'marvelbold';
  src: url("fonts/marvel-bold-webfont.eot");
  src: url("fonts/marvel-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/marvel-bold-webfont.woff") format("woff"), url("fonts/marvel-bold-webfont.ttf") format("truetype"), url("fonts/marvel-bold-webfont.svg#marvelbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'marvelregular';
  src: url("fonts/marvel-regular-webfont.eot");
  src: url("fonts/marvel-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/marvel-regular-webfont.woff") format("woff"), url("fonts/marvel-regular-webfont.ttf") format("truetype"), url("fonts/marvel-regular-webfont.svg#marvelregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lektonbold';
  src: url("fonts/lekton-bold-webfont.eot");
  src: url("fonts/lekton-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/lekton-bold-webfont.woff") format("woff"), url("fonts/lekton-bold-webfont.ttf") format("truetype"), url("fonts/lekton-bold-webfont.svg#lektonbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lektonitalic';
  src: url("fonts/lekton-italic-webfont.eot");
  src: url("fonts/lekton-italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/lekton-italic-webfont.woff") format("woff"), url("fonts/lekton-italic-webfont.ttf") format("truetype"), url("fonts/lekton-italic-webfont.svg#lektonitalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lektonregular';
  src: url("fonts/lekton-regular-webfont.eot");
  src: url("fonts/lekton-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/lekton-regular-webfont.woff") format("woff"), url("fonts/lekton-regular-webfont.ttf") format("truetype"), url("fonts/lekton-regular-webfont.svg#lektonregular") format("svg");
  font-weight: normal;
  font-style: normal; }

html {
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
  -moz-transform: matrix(1, 0, 0, 1, 0, 0);
  -ms-transform: matrix(1, 0, 0, 1, 0, 0);
  -o-transform: matrix(1, 0, 0, 1, 0, 0);
  transform: matrix(1, 0, 0, 1, 0, 0); }

/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

.cursor {
  cursor: pointer; }

a {
  display: block;
  text-decoration: underline;
  color: #444499; }

#blog h2, #cv h2 {
  margin-bottom: 0%; }
#blog a, #cv a {
  display: inline; }
  #blog a:hover, #cv a:hover {
    background: none; }
#blog #content-blog h1, #blog #content-cv h1, #cv #content-blog h1, #cv #content-cv h1 {
  font-family: 'College';
  font-size: 2em;
  letter-spacing: 3px;
  margin-bottom: 15px; }
#blog #content-blog h3, #blog #content-cv h3, #cv #content-blog h3, #cv #content-cv h3 {
  color: #6666bb;
  font-family: 'College';
  font-size: 1.125em;
  letter-spacing: 1px;
  margin-bottom: 5px; }
#blog #content-blog blockquote, #blog #content-cv blockquote, #cv #content-blog blockquote, #cv #content-cv blockquote {
  margin-bottom: 25px; }
#blog #content-blog li, #blog #content-cv li, #cv #content-blog li, #cv #content-cv li {
  font-family: 'College';
  font-size: 1.25em; }
#blog #content-blog hr, #blog #content-cv hr, #cv #content-blog hr, #cv #content-cv hr {
  border: 2px solid #6666bb;
  margin: 10px 0px; }
#blog #content-blog p, #blog #content-cv p, #cv #content-blog p, #cv #content-cv p {
  font-family: 'marvelregular';
  font-size: 1.125em;
  line-height: 1.25em;
  margin-bottom: 15px;
  letter-spacing: 1.2px;
  text-align: justify;
  color: #111111; }
#blog #content-blog strong, #blog #content-cv strong, #cv #content-blog strong, #cv #content-cv strong {
  font-family: 'marvelbold';
  letter-spacing: 2px; }
  #blog #content-blog strong code, #blog #content-cv strong code, #cv #content-blog strong code, #cv #content-cv strong code {
    font-family: 'lektonbold'; }
#blog #content-blog code, #blog #content-cv code, #cv #content-blog code, #cv #content-cv code {
  font-family: 'lektonregular';
  color: #3333ff; }
#blog #info-blog a, #cv #info-blog a {
  font-family: 'College';
  font-size: 2em;
  color: #6666bb;
  text-decoration: none; }

@media only screen and (min-width: 0px) {
  #github, #thingies, #projects, #project, #cv, footer {
    display: none; }

  html {
    width: 100%;
    height: 100%; }

  body {
    width: 100%;
    height: 100%; }

  a:hover {
    background: #6666bb; }

  main {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: url(images/subtle.png); }

  header {
    font-size: 5em;
    font-family: College;
    text-align: center;
    color: #eeeeee;
    background: #444499;
    margin-bottom: 8px; }

  section {
    background: #444499; }

  #home .left-content {
    display: table;
    width: 100%;
    overflow: hidden; }
    #home .left-content nav {
      display: none; }
    #home .left-content #twitter {
      height: 50px;
      display: table-row;
      border: none;
      overflow: hidden; }
      #home .left-content #twitter a, #home .left-content #twitter span {
        display: table-cell; }
      #home .left-content #twitter a {
        width: 50px;
        height: 50px; }
      #home .left-content #twitter span a {
        text-decoration: none;
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
        font-family: College;
        color: #eeeeee;
        letter-spacing: 2px;
        font-size: 1.5em;
        vertical-align: top;
        line-height: 1.5em; }
        #home .left-content #twitter span a:hover {
          background: none; }
        #home .left-content #twitter span a em {
          color: #bbbbbb;
          padding: 0 10px; }

  .icon img {
    width: 50px;
    height: 50px; }

  #social {
    background: #444499; }
    #social div.full-content {
      display: table;
      width: 100%; }
    #social div.links {
      display: table-row; }
    #social #twitter-social {
      display: none; }
    #social .links a {
      height: 50px;
      width: 25%;
      display: table-cell;
      text-align: center; }

  #blog {
    border: 8px solid #444499;
    padding: 10px;
    background: none; }
    #blog h1 {
      color: #888888; } }
@media only screen and (min-width: 700px) {
  /* Medium screen, non-retina */ }
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 700px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 700px), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 700px), only screen and (min-device-pixel-ratio: 2) and (min-width: 700px), only screen and (min-resolution: 192dpi) and (min-width: 700px), only screen and (min-resolution: 2dppx) and (min-width: 700px) {
  body {
    font-size: 200%; } }
@media only screen and (min-width: 1024px) {
  /* Large screen, non-retina */ }
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (min-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2 / 1) and (min-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (min-width: 1024px), only screen and (min-resolution: 192dpi) and (min-width: 1024px), only screen and (min-resolution: 2dppx) and (min-width: 1024px) {
  body {
    font-size: 200%; } }
