* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    min-width: 320px;
}

body {
    background: rgba(0, 0, 0, 1);
    font-size: 62.5%;
}

.outer {
    position: relative;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.inner {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
}

.wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

#skull {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.parallax__root {
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-perspective: 1px;
    -moz-perspective: 1px;
    -ms-perspective: 1px;
    -o-perspective: 1px;
    perspective: 1px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    width: 100%;
    height: 100%;
}

.parallax__header {
    position: absolute;
    top: -10%;
    width: 100%;
    height: 100%;
    -webkit-transform: translateZ(-0.75px) scale(2);
    -moz-transform: translateZ(-0.75px) scale(2);
    -ms-transform: translateZ(-0.75px) scale(2);
    -o-transform: translateZ(-0.75px) scale(2);
    transform: translateZ(-0.75px) scale(2);
    z-index: -1;
}

.parallax__content {
    padding: 2rem;
    position: relative;
    top: 60%;
    color: white;
    background: rgba(255, 255, 255, 0.1);
    font-size: 2rem;
}

header {
    position: absolute;
    top: 0;
    display: inline-block;
    width: 100%;
    min-width: 320px;
    z-index: 1;
    padding-bottom: 2rem;
    background: rgba(0, 0, 0, 0.5);
    background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(50%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 50%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 50%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 50%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,1) 50%,rgba(0,0,0,0) 100%); /* W3C */
}

header h1 {
    text-align: center;
    color: rgba(255, 255, 255, 1);
    margin: 0.5rem 0 0;
    font-size: 1.75rem;
    line-height: 1.75rem;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul {
    margin: 0;
    padding: 0;
    width: 100%;
    display: inline-block;
    height: 4.5rem;
    font-size: 0;
    vertical-align: top;
}

header ul li {
    display: inline-block;
    width: 25%;
    height: 100%;
    font-size: 0;
}

header ul li span {
    display: none;
}

header ul li div {
    height: 2.5rem;
    width: 2.5rem;
    margin: 1rem auto;
}

header ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.twitter {
    background-image: url('images/twitter.png');
    background-size: cover;
}

.github {
    background-image: url('images/github.png');
    background-size: cover;
}

.soundcloud {
    background-image: url('images/soundcloud.png');
    background-size: cover;
}

.stackoverflow {
    background-image: url('images/stackoverflow.png');
    background-size: cover;
}

h1 {
    font-family: 'minotaur';
}

@font-face {
    font-family: 'capsuula';
    src: url('fonts/Capsuula-webfont.eot');
    src: url('fonts/Capsuula-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Capsuula-webfont.woff') format('woff'),
         url('fonts/Capsuula-webfont.ttf') format('truetype'),
         url('fonts/Capsuula-webfont.svg#capsuularegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'minotaur';
    src: url('fonts/minotaur-webfont.eot');
    src: url('fonts/minotaur-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/minotaur-webfont.woff') format('woff'),
         url('fonts/minotaur-webfont.ttf') format('truetype'),
         url('fonts/minotaur-webfont.svg#minotaurphatte') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media all and (min-width: 35em) {
    header h1 {
        margin-top: 1rem;
        text-align: left;
        font-size: 3rem;
        line-height: 3rem;
    }
    
    header ul {
        position: absolute;
        top: 5rem;
        right: 0rem;
        width: auto;
        text-align: right;
        text-transform: lowercase;
        font-family: "capsuula";
    }
    
    header ul li {
        display: block;
        width: auto;
        height: auto;
        margin: 1rem;
    }
    
    header ul li span {
        display: inline-block;
        color: white;
        font-size: 1.5rem;
        line-height: 2.5rem;
        height: 2.5rem;
        vertical-align: top;
        padding: 0 1rem;
    }
    
    header ul li div {
        display: inline-block;  
        margin: 0;
    }
}

@media all and (min-width: 45em) {
    #skull canvas {
        max-width: 45rem;
        max-height: 45rem;
    }
}

a {
    text-decoration: none;
    color: white;
}