html, body {
    height: 100%;
}

body {
    background: rgba(0, 0, 0, 1);
}

.outer {
    position: relative;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.inner {
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
}

.wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

#skull {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white
}

/* Mobile-first styles FTW */
@media all and (min-width: 50em) {
    #skull canvas {
        max-width: 50rem;
        max-height: 50rem;
    }
}
