/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

/*------------------------------- Fonts --------------------------------------*/
@font-face {
    font-family: 'Lekton';
    src: url('fonts/lekton-bold-webfont.eot');
    src: url('fonts/lekton-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lekton-bold-webfont.woff') format('woff'),
         url('fonts/lekton-bold-webfont.ttf') format('truetype'),
         url('fonts/lekton-bold-webfont.svg#LektonBold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lekton';
    src: url('fonts/lekton-italic-webfont.eot');
    src: url('fonts/lekton-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lekton-italic-webfont.woff') format('woff'),
         url('fonts/lekton-italic-webfont.ttf') format('truetype'),
         url('fonts/lekton-italic-webfont.svg#LektonItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Lekton';
    src: url('fonts/lekton-regular-webfont.eot');
    src: url('fonts/lekton-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/lekton-regular-webfont.woff') format('woff'),
         url('fonts/lekton-regular-webfont.ttf') format('truetype'),
         url('fonts/lekton-regular-webfont.svg#LektonRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Ostrich';
    src: url('fonts/ostrich-rounded-webfont.eot');
    src: url('fonts/ostrich-rounded-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ostrich-rounded-webfont.woff') format('woff'),
         url('fonts/ostrich-rounded-webfont.ttf') format('truetype'),
         url('fonts/ostrich-rounded-webfont.svg#OstrichSansRoundedMedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Glasgow';
    src: url('fonts/glasgow-regular-webfont.eot');
    src: url('fonts/glasgow-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/glasgow-regular-webfont.woff') format('woff'),
         url('fonts/glasgow-regular-webfont.ttf') format('truetype'),
         url('fonts/glasgow-regular-webfont.svg#Glasgow-RegularRegular') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Glasgow';
    src: url('fonts/glasgow-light-webfont.eot');
    src: url('fonts/glasgow-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/glasgow-light-webfont.woff') format('woff'),
         url('fonts/glasgow-light-webfont.ttf') format('truetype'),
         url('fonts/glasgow-light-webfont.svg#Glasgow-LightRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Glasgow';
    src: url('fonts/glasgow-lightita-webfont.eot');
    src: url('fonts/glasgow-lightita-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/glasgow-lightita-webfont.woff') format('woff'),
         url('fonts/glasgow-lightita-webfont.ttf') format('truetype'),
         url('fonts/glasgow-lightita-webfont.svg#Glasgow-LightItaRegular') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Digital';
    src: url('fonts/DIGITALDREAM-webfont.eot');
    src: url('fonts/DIGITALDREAM-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/DIGITALDREAM-webfont.woff') format('woff'),
         url('fonts/DIGITALDREAM-webfont.ttf') format('truetype'),
         url('fonts/DIGITALDREAM-webfont.svg#DigitaldreamRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.animate {
  -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
       -o-transition: all 0.5s;
          transition: all 0.5s;
}

.offLeft {
  display: none;
  -webkit-transform: translate(-2000px, 0px);
     -moz-transform: translate(-2000px, 0px);
      -ms-transform: translate(-2000px, 0px);
       -o-transform: translate(-2000px, 0px);
          transform: translate(-2000px, 0px);
}

.offRight {
  display: none;
  -webkit-transform: translate(4000px, 0px);
     -moz-transform: translate(4000px, 0px);
      -ms-transform: translate(4000px, 0px);
       -o-transform: translate(4000px, 0px);
          transform: translate(4000px, 0px);
}

.red { background-color: rgba(255, 187, 201, 0.8); }
.green { background-color: rgba(187, 255, 201, 0.8); }
.blue { background-color: rgba(187, 201, 255, 0.8); }


.background {
  background-image: url('images/home.jpg');
  background-size: 100% 100%;
  height: 100%;
  min-height: 900px;
  min-width: 1400px;
  position: fixed;
  width: 100%;
}

.wrapper {
  height:100%;
  min-width: 920px;
  position: absolute;
  width: 100%;
}

a {
  color: #FFF;
  text-decoration: none;
}

header {
  color: #CBF;
  font-family: Lekton;
  height: 130px;
  margin: 50px 0px 0px 150px;
  text-align: justify;
  width: 558px;
}

  header h1 {
    color: #FFF;
    font-size: 110px;
    font-family: Ostrich;
    font-weight: lighter;
    line-height: 110px;
    padding: 0px;
  }
  
  header span {
    font-style: italic;
  }
  
  header hr {
    margin: 1px 0px 1px 0px;
  }
  
.nav-anchor {
  position: absolute;
  margin-top: -25px;
}

nav {
  background: #F77;
  display: none;
  font-size: 30px;
  font-family: OSTRICH;
  height: 30px;
  letter-spacing: 2px;
  line-height: 30px;
  margin-top: -25px;
  position: absolute;
  width: 100%;
  z-index: 10;
}

.stick {
  position: fixed;
  top: 25px
}
  
  nav * {
    float: left;
    text-align: center;
  }
  
  nav .back {
    background: #7F7;
    color: #FFF;
    cursor: pointer;
    padding: 0px;
    width: 150px;
  }
  
  nav .back:hover {
    background: #77F;
  }
  
  nav h2 {
    color: #FF7;
    min-width: 415px;
  }
  
  nav div {
    background: #77F;
    width: 240px;
  }
  
  nav div:hover {
    background: #7F7;
  }
  
  nav div span {
    color: #EEE;
    cursor: pointer;
    width: 100%;
  }
  
  nav ul {
    display: none;
    float: right;
    width: 100%
  }

  nav li {
    background: #77F;
    padding: 0px 20px;
    width: 200px;
  }
  
  nav li:hover {
    background: #F77;
  }

.project-list {
  min-height: 800px;
  margin: 0px 0px 0px 150px;
}

  .project {
    color: #EEE;
    cursor: pointer;
    float: left;
    font-family: Ostrich;
    font-size: 200%;
    font-weight: lighter;
    height: 180px;
    overflow: hidden;
    position: relative;   
    width: 279px;
  }

    .project .mask {
      height: 180px;
      left: 0;
      padding: 0px 20px 20px 20px;
      position: absolute;
      opacity: 0px;
      overflow: hidden;
      top: 0;
      -webkit-transform: translate(225px, 140px) rotate(45deg);
         -moz-transform: translate(225px, 140px) rotate(45deg);
          -ms-transform: translate(225px, 140px) rotate(45deg);
           -o-transform: translate(225px, 140px) rotate(45deg);
              transform: translate(225px, 140px) rotate(45deg);
      -webkit-transition: all 0.2s ease-in-out;
         -moz-transition: all 0.2s ease-in-out;
           -o-transition: all 0.2s ease-in-out;
              transition: all 0.2s ease-in-out;
      width: 280px;
    }

    .project img {
      display: block;
      opacity: 0.7;
      position: relative;
      -webkit-transition: all 0.2s ease-in;
         -moz-transition: all 0.2s ease-in;
           -o-transition: all 0.2s ease-in;
              transition: all 0.2s ease-in;
    }

    .project h2 {
      background: transparent;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      color: #FF7;
      margin: 20px 20px 0 20px;
      padding: 10px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      -webkit-transform: translate(200px, -200px);
         -moz-transform: translate(200px, -200px);
          -ms-transform: translate(200px, -200px);
           -o-transform: translate(200px, -200px);
              transform: translate(200px, -200px);
      -webkit-transition: all 0.2s ease-in-out;
         -moz-transition: all 0.2s ease-in-out;
           -o-transition: all 0.2s ease-in-out;
              transition: all 0.2s ease-in-out;
    }

    .project p {
      font-family: Lekton;
      font-size: 12px;
      font-style: italic;
      position: relative;
      padding: 10px 10px 20px;
      text-align: center;
      -webkit-transform: translate(200px, -200px);
         -moz-transform: translate(200px, -200px);
          -ms-transform: translate(200px, -200px);
           -o-transform: translate(200px, -200px);
              transform: translate(200px, -200px);
      -webkit-transition: all 0.2s ease-in-out;
         -moz-transition: all 0.2s ease-in-out;
           -o-transition: all 0.2s ease-in-out;
              transition: all 0.2s ease-in-out;
    }

    .project:hover .mask {
      -webkit-transform: translate(-20px, -20px) rotate(0deg);
         -moz-transform: translate(-20px, -20px) rotate(0deg);
          -ms-transform: translate(-20px, -20px) rotate(0deg);
           -o-transform: translate(-20px, -20px) rotate(0deg);
              transform: translate(-20px, -20px) rotate(0deg);
    }

    .project:hover h2, .project:hover p {
      -webkit-transform: translate(0px, 0px);
         -moz-transform: translate(0px, 0px);
          -ms-transform: translate(0px, 0px);
           -o-transform: translate(0px, 0px);
              transform: translate(0px, 0px);
    }

.project-displays {
  min-width: 920px;
  min-height: 800px;
}

.tuner {
  height: 100%;
  width: 100%; 
}

.tuner canvas {
  margin-top: -180px;
  height: 100%;
  width: 100%;
}

.tuner div {
  color: #EEE;
  font-family: Lekton;
  font-size: 100px;
  height: 100px;
  line-height: 100px;
  position: absolute;
  text-align: center;
  top: 200px;
  width: 100%;
}

.tuner .inTune {
  color: #7F7;
}

.tuner .outTune {
  color: #F77;
}

.tetris {
  margin-left: 150px;
}

.clouds canvas {
  height: 100%;
  position: fixed;
  margin-top: -180px;
  width: 100%;
}