<header class="top-header">
    <h1 class="top-header__title"><a href="//phenomnomnominal.github.io">phenomnomnominal</a></h1>
    <nav class="top-header__links-container">
        <ul class="top-header__links">
            <li class="top-header__link top-header__link--twitter"><a href="//twitter.com/phenomnominal"><span>Twitter </span><div></div></a></li>
            <li class="top-header__link top-header__link--github"><a href="//github.com/phenomnomnominal"><span>GitHub </span><div></div></a></li>
            <li class="top-header__link top-header__link--soundcloud"><a href="//soundcloud.com/phenomnomnominal"><span>SoundCloud </span><div></div></a></li>
            <li class="top-header__link top-header__link--stackoverflow"><a href="//stackoverflow.com/users/1386166/phenomnomnominal"><span>Stack Overflow </span><div></div></a></li>
        </ul>
    </nav>
</header>

<section class="parallax__root">
    <section class="parallax__content">
        <div ui-view></div>
    </section>

    <header class="parallax__header">
        <nomnomnom-sculpture model-file-path="/web/content/skull.json"></nomnomnom-sculpture>
    </header>
</section>