$main-colour: rgba(0, 0, 0, 1);
$secondary-colour: rgba(50, 50, 50, 0.4);
$font-colour: rgba(200, 200, 200, 1);

$display-font: "minotaur";
$text-font: "capsuula";

$tiny-spacing: 0.5rem;
$small-spacing: 1rem;
$spacing: 2rem;
$large-spacing: 4rem;

$animation-timing: 0.5s;

$parallax-distance: -0.5px;
$parallax-perspective: 1px;