@font-face {
    font-family: 'capsuula';
    src: url('fonts/Capsuula-webfont.eot');
    src: url('fonts/Capsuula-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Capsuula-webfont.woff') format('woff'),
         url('fonts/Capsuula-webfont.ttf') format('truetype'),
         url('fonts/Capsuula-webfont.svg#capsuularegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'minotaur';
    src: url('fonts/minotaur-webfont.eot');
    src: url('fonts/minotaur-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/minotaur-webfont.woff') format('woff'),
         url('fonts/minotaur-webfont.ttf') format('truetype'),
         url('fonts/minotaur-webfont.svg#minotaurphatte') format('svg');
    font-weight: normal;
    font-style: normal;
}