@mixin matrix($values) {
  -webkit-transform: matrix(#{$values});
  -moz-transform: matrix(#{$values});
  -ms-transform: matrix(#{$values});
  -o-transform: matrix(#{$values});
  transform: matrix(#{$values});
}

@mixin translateX ($pixels) {
  -webkit-transform: translateX(#{$pixels}px);
  -moz-transform: translateX(#{$pixels}px);
  -ms-transform: translateX(#{$pixels}px);
  -o-transform: translateX(#{$pixels}px);
  transform: translateX(#{$pixels}px);
}

@mixin translateY ($pixels) {
  -webkit-transform: translateY(#{$pixels}px);
  -moz-transform: translateY(#{$pixels}px);
  -ms-transform: translateY(#{$pixels}px);
  -o-transform: translateY(#{$pixels}px);
  transform: translateY(#{$pixels}px);
}

html { @include matrix("1, 0, 0, 1, 0, 0") }