@import "fonts";
@import "transforms";
@import "reset";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.cursor {
  cursor: pointer;
}

body {
  font-size: 24px;  

  position: absolute;
  top: 0px;
  width: 100%;
  height: 100%;

  overflow-x: hidden;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}

$block: 4%;
$inner-block-height: 12.5%;

main {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: url(images/subtle.png);
  background-repeat: repeat repeat
}

#wrapper {
  position: absolute;
  top: 0px;
}

.horizontal-spacing {
  height: $block;
  clear: both;
}

.float-left {
  clear: none;
  float: left;
}

.float-right {
  clear: none;
  float: right;
}

header {
  width: $block * 23;
  height: $block * 2;
  margin: $block;
}

section.current {
  display: block;
}

section {
  display: none;
  width: $block * 25;
  height: $block * 8;
  
  margin-bottom: $block;

  h2 {
    height: 12.5%;
    margin-bottom: 4%;
  }

  .horizontal-spacing {
    height: $inner-block-height;
    width: 100%;
  }

  .vertical-spacing {
    width: $block;
    height: 100%;
  }
  
  .full-content {
    width: $block * 25;
    height: 100%;
  }
  
  .left-content {
    width: $block * 10;
    height: 100%;
    
    margin: 0% 4% 0% 4%;
  }
  
  .right-content {
    width: $block * 12;
    height: 100%;
    
    margin-right: 4%;
  }
}

#home {
  nav {
    height: 62.5%;

    a {
      height: 20%;

      &#nav-projects {
        width: 80%
      }
      &#nav-social {
        width: 60%
      }
      &#nav-blog {
        width: 40%
      }
      &#nav-cv {
        width: 20%
      }
    }
  }

  .social {
    height: $inner-block-height;

    span, a {
      height: 85%;
      float: left;
    }

    a.icon {
      width: 10%;
      img {
        width: 85%;
      }
      &:hover {
        cursor: pointer;
      }
    }

    span {
      font-family: 'College';
      font-size: 50%;

      white-space: nowrap;
      overflow: hidden;

      width: 85.2%;

      padding: 2% 0 0 4%;

      em {
        color: #fff;
        padding-right: 20px;
      }
    }
  }
}

#projects, #social {
  .links {
    margin: 0 8% 0 12%;
    height: 75%;
    
    a {
      display: block;
      width: 15%;
      margin-right: 5%;
      float: left;

      img {
        width: 95%;
        height: 95%;
      }
    }
  }
}

#project {
  height: $block * 12;
  margin-top: -$block * 3;
  margin-bottom: 0;
  
  .full-content {
    width: 92%;
    margin-top: -$block;
    margin-right: $block;
    margin-left: $block;
    
    h2 {
      height: 8.333%;
      margin-bottom: 0;
    }
    
    div {
      width: 100%;
      height: 91.666%;
      padding: 25px;
    }
  }
}

#blog, #cv {
  h2 {
    margin-bottom: 0%;
  }
  
  a {
    display: inline;
  }
  
  #content-blog, #content-cv {
    width: 52%;
    height: 87.5%;
    margin: 2% 2% 2% 14%;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    overflow-y: scroll;
    float: left;

    h1 {
      font-family: 'College';
      font-size: 75%;
      letter-spacing: 3px;
      margin-bottom: 15px;
    }

    h3 {
      font-family: 'College';
      font-size: 35%;
      letter-spacing: 1px;
      margin-bottom: 5px;
    }

    blockquote {
      margin-bottom: 25px;
    }

    li {
      font-family: 'College';
      font-size: 40%;
    }

    hr {
      border: 2px solid #DDDDFF;
      margin: 20px 0px;
    }

    p {
      font-family: 'marvelregular';
      font-size: 35%;
      line-height: 1.5;
      margin-bottom: 15px;
      letter-spacing: 1.2px;
      text-align: justify;
    }

    a {
      text-decoration: underline;
    }

    strong {
      font-family: 'marvelbold';
      letter-spacing: 2px;

      code {
        font-family: 'lektonbold';
      }
    }

    code {
      font-family: 'lektonregular';
      color: #3333ff;
    }
  }
  
  #listening-blog {
    width: $block * 6;
    height: 100%;
    float: right;
    margin-right: $block;
  }

  #cover-blog {
    width: 100%;
    height: 75%;

    img {
      width: 97.5%;
      height: 97.5%;
    }
  }

  #info-blog {
    width: 100%;
    height: 12.5%;
    font-family: 'College';
    font-size: 50%;
    padding: 3%;
  }
}

footer {
  height: $block;
  width: 100%;
  
  .option {
    margin-right: $block;
    width: $block;
    height: 100%;

    img {
      width: 85%;
    }
  }
  
  #back {
    margin-left: $block;
  }
}